{% extends 'base.html' %}



{% block content %}

<style>
    .feature-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        color: #fff;
        border-radius: .75rem;
    }
</style>

<div class="container my-5 py-5">


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">image</th>
                <th scope="col">product</th>
                <th scope="col">price</th>
                <th scope="col">quantity</th>
                <th scope="col">total</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>

            {% for item in order.items.all %}
            <tr>
                <td>
                    <img src="{{ item.product.image.url }}" class="feature-icon m-2">
                </td>
                <td>
                    <h5 class="h5 text-black m-2">{{ item.product.title }}</h5>
                    <small>Size: {{ item.size.name }}</small>
                    <small>Color: {{ item.color.name }}</small>
                </td>
                <td>&yen; {{ item.product.price }}</td>
                <td>
                    <div class="input-group m-2" style="max-width: 120px;">
                        <div class="input-group-prepend">
                            <a href="{% url 'cart:decrease-quantity' item.pk %}" class="btn btn-outline-primary">
                                &minus;
                            </a>
                        </div>
                        <input type="text" class="form-control text-center" value="{{ item.quantity }}">
                        <div class="input-group-append">
                            <a href="{% url 'cart:increase-quantity' item.pk %}" class="btn btn-outline-primary">
                                &plus;
                            </a>
                        </div>
                    </div>
                </td>
                <td>
                    &yen; {{ item.get_total_item_price }}
                </td>
                <td>
                    <a href="{% url 'cart:remove-from-cart' item.pk %}" class="btn btn-primary btn-sm m-2">X</a>
                </td>
            </tr>

            {% empty %}

            <tr>
                <td colSpan="6">
                    Empty
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>



    {% if order.items.count > 0 %}

    <div class="card">
        <div class="card-header">
            total
        </div>
        <div class="card-body">
            <h5 class="card-title">Subtotal</h5>
            <p class="card-text">&yen; {{ order.get_subtatal }}</p>

            <hr>

            <h5 class="card-title">Raw Total</h5>
            <p class="card-text">&yen; {{ order.get_raw_total }}</p>


            <hr>

            <div class="d-grid gap-2">
                <a href="{% url 'cart:checkout' %}" class="btn btn-primary">Go checkout</a>
            </div>

        </div>
    </div>

    {% endif %}

</div>


{% endblock content %}