{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2 class="text-black">Staff - Products</h2>
            <a href="{% url 'staff:product-create' %}">Create product</a>
            <div class="card">
                <div class="card-body">
                    <div class="site-blocks-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title.</th>
                                    <th>Price</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                <tr>
                                    <td>{{ product.title }}</td>
                                    <td>&yen;{{ product.price }}</td>
                                    <td>
                                        <a href="{{ product.get_update_url }}">Update</a>


                                        <a tabindex="0" class="btn btn-sm btn-danger" role="button"
                                            data-bs-toggle="popover" data-bs-trigger="focus" title="Delete popover"
                                            data-bs-html="true" data-bs-content="<a
                                                href=' {{ product.get_delete_url }}'>to Delete</a>">
                                            X
                                        </a>

                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3">no products</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% if is_paginated %}
                    <nav aria-label="...">
                        <ul class="pagination">

                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">&laquo;</a>
                            </li>
                            {% endif %}

                            {% for i in page_obj.paginator.page_range %}

                            {% if page_obj.number == i %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?page={{ i }}">
                                    {{ i }}
                                </a>
                            </li>
                            {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">
                                    {{ i }}
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">&raquo;</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block inline_javascript %}
{{ block.super }}
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
</script>
{% endblock inline_javascript %}