{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container my-5 py-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <a href="{% url 'staff:product-list' %}">back to products</a>
            <hr />
            <h4>Update product</h4>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mb-3" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}