{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container my-5 py-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <a href="{% url 'staff:product-list' %}">back to products</a>
            <hr>
            <h2>Delete ?</h2>
            <hr />
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-danger mb-3" type="submit">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}