{% extends "base.html" %}

{% block content %}

<div class="container my-5 py-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2>Profile</h2>
                    <hr />
                    <h5 class="card-title">Your orders</h5>
                    <div class="site-blocks-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Payment</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'cart:order-detail' order.pk %}">
                                            #{{ order.reference_number }}
                                        </a>
                                    </td>
                                    <td>{{ order.ordered_date }}</td>
                                    <td>&yen;{{ order.get_raw_total }}</td>
                                    <td>{% if order.ordered %}Paid{% else %}Not paid{% endif %}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">no orders</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}